
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">
      <img src="/assets/marca/limp.png" width="90" height="50" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item ">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/registrar" routerLinkActive="active">Registrar</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/products/articulos" routerLinkActive="active">Articulos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products/puntera" routerLinkActive="active">Articulos Principales</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">Acerca de</a>
        </li> -->
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
    <app-profile *ngIf="estalogueado"></app-profile>
  </nav>



