<div class="col mb-4">
    <div class="card h-100">
      <img src={{articulo.img}} class="card-img-top" alt="imagen no cargada">
      <div class="card-body">
        <h5 style="display: inline;" class="card-title">{{articulo.name}} {{articulo.marca}} {{articulo.fragancia}}</h5>
        <span class="badge badge-info" style="float:right;">{{articulo.categoria}}</span>
        <p class="card-text">{{articulo.description}}</p>
        <a href="#" class="btn btn-info">$ {{articulo.price}} <i class="fas fa-cart-plus"></i></a>
        <span class="badge badge-dark" style="float:right;">{{articulo.code}}</span>
      </div>
    </div>
</div>
